<div>
<div class="header">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <form class="form-inline">
        <a class="navbar-brand" href="#">
          <img src="../assets/images/Imagen2.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Finance Administrative System
        </a>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerrar sesión</button>
    </form>
  </nav>
</div>
<div class="navigation"> 
 <div class="profile clearfix">
    <div class="profile_pic">
        <img src="../assets/images/Imagen1.png"  class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Bienvenido,</span>
        <h2>KT</h2>
    </div>
  </div>

  <div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="fa fa-home" [routerLink]="['/users']">  Inicio</a>
      </li>
      <li class="nav-item">
        <a class="fa fa-database" [routerLink]="['/accounts']">  Cuentas</a>
      </li>
      <li class="nav-item">
        <a class="fa fa-money" [routerLink]="['/transactions']">  Transacciones</a>
      </li>
      <li class="nav-item">
        <a class="fa fa-bank" [routerLink]="['/budget']">  Presupuesto</a>
      </li>
      <li class="nav-item">
        <a class="fa fa-gear " [routerLink]="['/configuracion']">  Configuración</a>
      </li>
    </ul>
  </div>
</div>
<div class="bg-secondary text-white fixed-bottom container">
  <p>Powered by XSOFT</p>
</div>
</div>