.w3-bar .w3-top .w3-padding{
    z-index:4;
    font-family: sans-serif, Helvetica;
} 
#mySidebar{
    z-index:3;
    width:200px;
    font-family: sans-serif, Helvetica;
    margin-top: 59px;
    
}
.w3-bar-item .w3-button .w3-light-gray .w3-right{
    padding: 8px 8px;
    border-radius: 5px;
    Position:Absolute; 
    left:92%; 
    top:15%;
    font-family: sans-serif, Helvetica;
}
.w3-overlay .w3-hide-large .w3-animate-opacity{
    cursor:pointer;
    font-family: sans-serif, Helvetica;
}
#bar{
    text-align: none;
}
    
    
    
    
    
    
    