.bar {
    display: block;
}

#bars,
#donut,
#lines {
    width: 100%;    
}

button {
    border: 0;
    margin-right: 5px;
    outline: 0 none;
}

header {
    font-family: sans-serif, Helvetica;
}

i {
    width: 30px;
}

.separators {
    border-top: 1px solid rgb(52, 109, 141);
}

table {
    font-family: sans-serif, Helvetica;
    width: 50%;
}

.w3-main {
    font-family: sans-serif, Helvetica;
    margin-left: 200px;
    margin-top: 50px;
}

.w3-container {
    font-family: sans-serif, Helvetica;
    padding-top: 20px;
}
