<app-navigation></app-navigation>
<!-- !PAGE CONTENT! -->
<div class="w3-main">

  <!-- Header -->
  <header class="w3-container">
    <h4>
      <b>
        <i class="fa fa-home fa-fw"></i> Inicio</b>
    </h4>
  </header>

  <div class="w3-row-padding">
    <div class="w3-half w3-center">
      <!--GRAFICO DE DONA SALDOS-->
      <header class="w3-container ">
        <h4>
          <b> Saldo de cuentas</b>
        </h4>
      </header>
      <div class="w3-container w3-center" id="donut">
        <div *ngIf="doughnutChartData.length > 1">
          <canvas baseChart #baseChart="base-chart" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
            [options]="doughnutChartOptions" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>

    <div class="w3-half w3-center">
      <!--GRAFICO DE DONA TOP ITEM-->
      <header class="w3-container">
        <h4>
          <b> Top #5 gastos</b>
        </h4>
      </header>
      <div class="w3-container w3-center" id="donut">
        <div *ngIf="doughnutChartDataItem.length > 1">
          <canvas baseChart #baseChart2="base-chart" [data]="doughnutChartDataItem" [labels]="doughnutChartLabelsItem" [chartType]="doughnutChartTypeItem"
            [options]="doughnutChartOptionsItem" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>

  </div>


  <hr class="separators">

  <div class="w3-row-padding">
    <!-- <div class="w3-half w3-center">
      <div class="w3-container w3-half" id="lines">
        <div style="display: block;">
        <canvas baseChart 
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
      <div class="w3-row-padding w3-center" >
        
        <table class="w3-table-all w3-hoverable w3-center">
          <tr class="w3-blue-gray">
            <th *ngFor="let label of lineChartLabels">{{label}}</th>
          </tr>
          <tr *ngFor="let d of lineChartData"> 
            <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
          </tr>
        </table>
  
        <button (click)="randomizeLine()">CLICK</button>
      </div>
    </div> -->

    <div class="w3-half w3-center">
      <!--GRAFICO DE BARRAS-->
      <header class="w3-container">
        <h4>
          <b> Transacciones por mes</b>
        </h4>
      </header>
      <div class="w3-container" style="display: block" id="bars">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
          [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>

  </div>





  <!-- Footer -->
  <footer class="w3-container w3-padding-small w3-dark-grey">
    <p>Powered by XSOFT</p>
  </footer>

  <!-- End page content -->
</div>