<app-navigation></app-navigation>
<!-- !PAGE CONTENT! -->
<div class="w3-main">

  <!-- Header -->
  <header class="w3-container">
    <h4>
      <b>
        <i class="fa fa-calendar"></i> Presupuesto</b>
    </h4>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <form class="w3-container" #budgetForm="ngForm" (ngSubmit)="addBudget(budgetForm)">
      <div class="w3-row-padding">
        <div class="w3-half">
          <label>Fecha inicial</label>
          <input class="w3-input w3-light-grey w3-border" type="date" id="myDate" value="aaaa/mm/dd" name="initial_date" #initial_date="ngModel"
            [(ngModel)]="budgetService.selectedBudget.initial_date">
        </div>
        <div class="w3-half">
          <label>Fecha finalización</label>
          <input class="w3-input w3-light-grey w3-border" type="date" id="myDate" value="aaaa/mm/dd" name="end_date" #end_date="ngModel"
            [(ngModel)]="budgetService.selectedBudget.end_date">
        </div>
      </div>
      <br>
      <div class="w3-container">
        <input class="w3-input w3-border w3-light-grey" type="text" name="budget_name" #budget_name="ngModel" [(ngModel)]="budgetService.selectedBudget.budget_name"
          placeholder="Ingresa nombre del presupuesto">
        <br>
        <div class="w3-show-inline-block">
          <div class="w3-bar">
            <button class="w3-button w3-padding-16 w3-blue-grey w3-circle" (click)="redirect()">
              <i class="fa fa-save"></i>
            </button>
            <button class="w3-button w3-blue-grey w3-padding-16 w3-circle" (click)="resetForm(budgetForm)">
              <i class="fa fa-repeat"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
    <hr class="separators">
    <div class="w3-container">
      <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-third">
          <div class="w3-container w3-amber w3-text-white w3-padding-16">
            <div class="w3-left">
              <i class="fa fa-line-chart w3-xxxlarge"></i>
            </div>
            <div class="w3-right">
              <h3 id="gastadoTotal">___</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>TOTAL GASTADO</h4>
          </div>
        </div>
        <div class="w3-third">
          <div class="w3-container w3-teal w3-padding-16">
            <div class="w3-left">
              <i class="fa fa-bar-chart w3-xxxlarge"></i>
            </div>
            <div class="w3-right">
              <h3 id="planeadoTotal">___</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>TOTAL PLANEADO</h4>
          </div>
        </div>
        <div class="w3-third">
          <div class="w3-container w3-blue w3-padding-16">
            <div class="w3-left">
              <i class="fa fa-usd w3-xxxlarge"></i>
            </div>
            <div class="w3-right">
              <h3 id="balanceTotal">___</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>PRESUPUESTO TOTAL</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-row-padding">
      <div class="w3-row-padding">
        <div class="w3-row-padding">
          <a>
            <button class="w3-button w3-padding-16 w3-blue-grey w3-circle w3-right" (click)="calculateTotal()">
              <i class="fa fa-calculator"></i>
            </button>
          </a>
        </div>
      </div>
    </div>

    <hr class="separators">
    <div>
      <div class="w3-container" *ngFor="let budget of budgetService.budgetArray">
        <h5>
          <strong> #{{budget.budget_number}} {{budget.budget_name}} </strong>
        </h5>
        <h6>
          <strong>FECHA INICIAL: </strong> {{budget.initial_date | date}} //
          <strong> FECHA FINALIZACIÓN: </strong>{{budget.end_date | date}}</h6>
        <table class="w3-table-all w3-hoverable ">
          <thead>
            <tr class="w3-blue-gray">
              <th>Número</th>
              <th>Categoría</th>
              <th>Valor gastado</th>
              <th>Valor planeado</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tr id="registro_item" *ngFor="let item of itemService.itemArray">
            <td *ngIf="budget.budget_number==item.budget_number">{{item.item_number }}</td>
            <td *ngIf="budget.budget_number==item.budget_number">{{item.description}}</td>
            <td *ngIf="budget.budget_number==item.budget_number">{{item.spent_balance | currency:'USD'}}</td>
            <td *ngIf="budget.budget_number==item.budget_number">{{item.planned_balance | currency:'USD'}}</td>
            <td *ngIf="budget.budget_number==item.budget_number">
              <button class="w3-button w3-padding-small w3-circle" (click)="deleteItem(item.item_number)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
            <td *ngIf="budget.budget_number==item.budget_number">
              <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-padding-small w3-circle" (click)="getNumberItem(item)">
                <i class="fa fa-money"></i>
              </button>
            </td>
          </tr>

          <tr>
            <td>
              <a>
                <button onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-padding-16 w3-blue-grey w3-circle">
                  <i class="fa fa-plus"></i>
                </button>
              </a>
            </td>
            <td>
              <a>
                <button class="w3-button w3-padding-16 w3-blue-grey w3-circle" (click)="deleteBudget(budget.budget_number)">
                  <i class="fa fa-trash"></i>
                </button>
              </a>
            </td>

            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>

        <div class="w3-container">
          <!-- FORMULARIO EGRESO-->
          <div id="id01" class="w3-modal">
            <div class="w3-modal-content">
              <header class="w3-container w3-blue-gray">
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <h2>Insertar egreso</h2>
              </header>
              <div class="w3-container">
                <form class="w3-container" #egresoForm="ngForm" (ngSubmit)="addTransactions(egresoForm)">
                  <label> Seleccione la cuenta</label>
                  <select class="w3-input w3-border w3-light-grey" name="account_number" #account_number="ngModel" [(ngModel)]="transactionService.selectedTransaction.account_number">
                    <option value="" disabled selected></option>
                    <option *ngFor="let account of accountService.accountArray" ng-selected="Seleccione la cuenta" placeholder="Seleccione la cuenta">#{{account.account_number}} {{account.description}} </option>
                  </select>
                  <br>
                  <label>Valor de egreso</label>
                  <input class="w3-input w3-border w3-light-grey" type="number" name="spent_balance" #spent_balance="ngModel" [(ngModel)]="transactionService.selectedTransaction.spent_balance"
                    placeholder="Ingresa el valor del egreso">
                  <br>
                  <div class="w3-show-inline-block">
                    <div class="w3-bar">
                      <button class="w3-button w3-padding-16 w3-blue-grey w3-circle" (click)="redirect()">
                        <i class="fa fa-save"></i>
                      </button>
                      <button class="w3-button w3-blue-grey w3-padding-16 w3-circle" (click)="resetForm(budgetForm)">
                        <i class="fa fa-repeat"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>

        <div class="w3-container">
          <!-- FORMULARIO ITEM-->
          <div id="id02" class="w3-modal">
            <div class="w3-modal-content">
              <header class="w3-container w3-blue-gray">
                <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <h2>Insertar ítem</h2>
              </header>
              <div class="w3-container">
                <form class="w3-container" #itemForm="ngForm" (ngSubmit)="addItem(itemForm)">
                  <label> Seleccione el presupuesto</label>
                  <select class="w3-input w3-border w3-light-grey" name="budget_number" #budget_number="ngModel" [(ngModel)]="itemService.selectedItem.budget_number">
                    <option *ngFor="let budget of budgetService.budgetArray" ng-selected="Seleccione el presupuesto" placeholder="Seleccione el presupuesto">#{{budget.budget_number}} {{budget.budget_name}}</option>
                  </select>
                  <br>

                  <input class="w3-input w3-border w3-light-grey" type="text" name="description" #description="ngModel" [(ngModel)]="itemService.selectedItem.description"
                    placeholder="Ingresa nombre de la categoría">
                  <br>

                  <input class="w3-input w3-border w3-light-grey" type="number" name="planned_balance" #planned_balance="ngModel" [(ngModel)]="itemService.selectedItem.planned_balance"
                    placeholder="Ingresa valor planeado">
                  <br>
                  <div class="w3-show-inline-block">
                    <div class="w3-bar">
                      <button class="w3-button w3-padding-16 w3-blue-grey w3-circle" (click)="redirect()">
                        <i class="fa fa-save"></i>
                      </button>
                      <button class="w3-button w3-blue-grey w3-padding-16 w3-circle" (click)="resetForm(budgetForm)">
                        <i class="fa fa-repeat"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <!-- Footer -->
      <footer class="w3-container w3-padding-small w3-dark-grey">
        <p>Powered by XSOFT</p>
      </footer> 

    <!-- End page content -->
    </div>
  </div>
</div>