<div class="w3-row-padding">

  <div class="w3-third">
    <img src="">
  </div>

  <div class="w3-third">
    <div class="w3-container w3-center ">
      <br>
      <br>
      <div class="w3-card-4 w3-blue-gray card" >
        <div class="w3-container w3-center">
          <h3>Finance Administrative System</h3>
          <img src="../assets/images/FASG.png" class="image" alt="Logo FAS" >
        </div>
        <br>
        <div class="w3-row-padding">
          <a class="fb btn" (click)="socialSignIn('facebook')">
            <i class="fa fa-facebook fa-fw"></i> Login with Facebook
           </a>
          <a class="google btn" (click)="socialSignIn('google')">
            <i class="fa fa-google fa-fw"></i> Login with Google+
          </a>
        </div>        
        <br>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <img src="">
  </div>
</div>