
<div class="w3-row-padding">
  <div class="w3-third"><img src=""></div>
  <div class="w3-third">
    <div class="w3-container w3-center ">
      <br><br>
      <div class="w3-card-4 w3-blue-gray" style="width:105%">
    
        <div class="w3-container w3-center">
          <h3>Finance Administrative System</h3>
          <img src="../assets/images/FASG.png" style="width:80%">
         </div>
        <button class="w3-button w3-padding-16 w3-gray w3-center">Facebook</button><br><br>
            <button class="w3-button w3-padding-16 w3-gray w3-center">Google</button>
      </div>
    </div>
  </div>
  <div class="w3-third"><img src=""></div>
</div>

