<nav class="navbar navbar-light" style="background-color: #F3EDED;">
  <a class="navbar-brand" href="#"></a>
  
 </nav>

<div id="Container">
  <div class="Icon">
    <img id="logo" width="250" height="250">
  </div>
<div class="ContentForm">
  <form action="" method="post" name="FormEnter">
    <h3><strong>Bienvenidos</strong></h3>
    <br>
    <div class="text-center">

        <button class="botonimagen" (click)="correctLogin()" value=""> </button>
      
    </div>
    <br>
    <br>
  </form>
</div>
</div>

