.w3-main{
    margin-left:200px;
    margin-top:34px;
    font-family: sans-serif, Helvetica;
}
.w3-container{
    padding-top:20px;
    font-family: sans-serif, Helvetica;
}

i{
    width: 30px;
}
table{
    width: 50%;
    font-family: sans-serif, Helvetica;
}
