.container{
    position: absolute;
    top: 50px;
    left: 230px;
    width: 1169px;
    height: 96%;
    background: #f2f4f4;
    color: #696969;
    padding: 16px 16px;
}
.table{
    width: 80%;
    height: 130px;
}
tr:hover {
    background-color: rgb(71, 99, 128);
    color: #F2F4F4;
}
th .position-left, th .position-right{
    background-color: #d8d6d6;
}
th, td {
    border-bottom: 1px solid #ddd;
}
.position-left{
    float: left;
    padding: 5px 20px;
    width: 550px;
}
.position-right{
    float: left;
    padding: 0px -100px;
    width: 550px;
}
.bt-create {
    border-radius: 5px;
    Position:Absolute; 
    left:65%; 
    top:70%;
    padding: 8px 8px;
} 
.bt-update {
    border-radius: 5px;
    Position:Absolute; 
    left:70%; 
    top:70%;
    padding: 8px 8px;
} 
.bt-delete {
    border-radius: 5px;
    Position:Absolute; 
    left:77%; 
    top:70%;
    padding: 8px 8px;
} 