<!-- !PAGE CONTENT! -->
<div class="w3-main">

  <!-- Header -->
  <header class="w3-container">
    <h4><b><i class="fa fa-calendar"></i> Presupuesto</b></h4>
  </header>
  <div class="w3-row-padding">
      <div class="w3-half">
        <label>Fecha de inicio</label>
        <input class="w3-input w3-light-grey w3-border" type="date" id="myDate" value="aaaa/mm/dd">
      </div>
      <div class="w3-half">
        <label>Fecha de final</label>
        <input class="w3-input w3-light-grey w3-border" type="date" id="myDate" value="aaaa/mm/dd">
      </div>
    </div>
  <div class="w3-row-padding w3-margin-bottom">
    <form class="w3-container">
      <input class="w3-input w3-border w3-light-grey" type="text" placeholder="Ingresa nombre del presupuesto">
      <br>
      <div class="w3-show-inline-block">
          <div class="w3-bar">
              <button class="w3-button w3-padding-16 w3-blue-grey w3-circle"><i class="fa fa-save"></i></button>
              <button class="w3-button w3-blue-grey w3-padding-16 w3-circle"><i class="fa fa-repeat"></i></button>
          </div>
      </div>
    </form>
  <div class="w3-container">
     <h5>Presupuesto-octubre</h5>
      <table class="w3-table-all w3-hoverable ">
        <thead>
          <tr class="w3-blue-gray">
           <th>Número</th>
            <th>Categoría</th>
            <th></th>
            <th>Valor gastado</th>
            <th></th>
            <th>Valor planeado</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tr>
          <td>1</td>
          <td>Comida</td>
          <td>$</td>
          <td>300.000</td>
          <td>$</td>
          <td>400.000</td>
          <td><a><i class="fa fa-pencil"></i></a></td>
          <td><a><i class="fa fa-trash"></i></a></td>
          <td><a><i class="fa fa-shopping-cart"></i></a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Educación</td>
            <td>$</td>
            <td>200.000</td>
            <td>$</td>
            <td>300.000</td>
            <td><a><i class="fa fa-pencil"></i></a></td>
            <td><a><i class="fa fa-trash"></i></a></td>
            <td><a><i class="fa fa-shopping-cart"></i></a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Transporte</td>
            <td>$</td>
            <td>150.000</td>
            <td>$</td>
            <td>200.000</td>
            <td><a><i class="fa fa-pencil"></i></a></td>
            <td><a><i class="fa fa-trash"></i></a></td>
            <td><a><i class="fa fa-shopping-cart"></i></a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Diversión</td>
            <td>$</td>
            <td>150.000</td>
            <td>$</td>
            <td>200.000</td>
            <td><a><i class="fa fa-pencil"></i></a></td>
            <td><a><i class="fa fa-trash"></i></a></td>
            <td><a><i class="fa fa-shopping-cart"></i></a></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Extra</td>
            <td>$</td>
            <td>150.000</td>
            <td>$</td>
            <td>200.000</td>
            <td><a><i class="fa fa-pencil"></i></a></td>
            <td><a><i class="fa fa-trash"></i></a></td>
            <td><a><i class="fa fa-shopping-cart"></i></a></td>
        </tr>
        <tr>
            <td></td>
            <td>Total</td>
            <td>$</td>
            <td>1'100.000</td>
            <td>$</td>
            <td>1'500.000</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
              <a>
                <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-padding-16 w3-blue-grey w3-circle"><i class="fa fa-plus"></i></button>
              </a>
            </td>
            <td>
              <a>
                <button class="w3-button w3-padding-16 w3-blue-grey w3-circle"><i class="fa fa-pencil"></i></button>
              </a>
            </td>
            <td>
              <a>
                <button class="w3-button w3-padding-16 w3-blue-grey w3-circle"><i class="fa fa-trash"></i></button>
              </a>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      </table>
      <div class="w3-container">
          
        
          <div id="id01" class="w3-modal">
            <div class="w3-modal-content">
              <header class="w3-container w3-blue-gray"> 
                <span onclick="document.getElementById('id01').style.display='none'" 
                class="w3-button w3-display-topright">&times;</span>
                <h2>Insertar ítem</h2>
              </header>
              <div class="w3-container">
                  <form class="w3-container">
                    
                    <input class="w3-input w3-border w3-light-grey" type="text" placeholder="Ingresa nombre de la categoría">
                    <br>
                    <input class="w3-input w3-border w3-light-grey" type="text" placeholder="Ingresa valor gastado">
                    <br>
                    <input class="w3-input w3-border w3-light-grey" type="text" placeholder="Ingresa valor planeado">
                    <br>
                    <div class="w3-show-inline-block">
                        <div class="w3-bar">
                            <button class="w3-button w3-padding-16 w3-blue-grey w3-circle"><i class="fa fa-save"></i></button>
                            <button class="w3-button w3-blue-grey w3-padding-16 w3-circle"><i class="fa fa-repeat"></i></button>
                        </div>
                    </div>
                  </form>
              </div>
              
            </div>
          </div>
        </div>
    </div>
  <hr>

  

  <!-- Footer -->
  <footer class="w3-container w3-padding-small w3-gray">
  <p>Powered by XSOFT</p>
  </footer>

  <!-- End page content -->
</div>