<div class="container">
  <div>
  <h1>Presupuesto</h1>
  <div class="position-left">
  <h3>Billetera</h3>
  <table class="table table-hover">
   <thead>
      <tr>
        <th scope="col">Tipo</th>
        <th scope="col"></th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ingresos</td>
        <th scope="row">$</th>
        <td>0.000.000</td>
      </tr>
      <tr>
          <td>Egresos</td>
          <th scope="row">$</th>
          <td>0.000.000</td>
      </tr>
      <tr>
        <th>Total</th>
        <th scope="row">$</th>
        <th>0.000.000</th>
      </tr>
    </tbody>
  </table>
  </div>
  
      <div>
        <button class="bt-create" type="submit">Crear</button>
      </div>
      <div>
        <button class="bt-update " type="submit">Actualizar</button>
      </div>
      <div>
        <button class="bt-delete " type="submit">Eliminar</button>
      </div>
     </div>
</div>